* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

#card {
  border-radius: 10px;
  height: 400px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

#card h1 {
  font-size: 25px;
  margin: 10px 0;
}

#card h5 {
  font-size: 20px;
  color: red;
  margin-bottom: 12px;
}

#card button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(176, 229, 208, 1) 42%,
    rgba(92, 202, 238, 0.41) 93.6%
  );
  color: fff;
  padding: 12px 20px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

