* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fde047;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card {
  height: 359px;
  width: 332px;
  background-color: #fff;
  text-align: center;
  border-radius: 4%;
  margin: 0 10px;
}

.card img {
  margin: 12px 0;
  padding: 2px;
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #fde047;
}

.card p {
  margin: 12px 0px;
  padding: 0px 24px;
}

.card h4 {
  font-size: 20px;
  color: #fde047;
}

#secondary-button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12%;
  border: 2px solid #fde047;
  color: #fde047;
  background-color: #fff;
  cursor: pointer;
}

#secondary-button:hover {
  background-color: #fde047;
  color: white;
}

#primary-button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12%;
  border: none;
  color: #fff;
  background-color: #fde047;
  cursor: pointer;
}

