* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: */
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  width: 100%;
  min-height: 100vh;
}

.heading {
  position: absolute;
  top: 240px;
  left: 100px;
  font-size: 25px;
}

span {
  color: #ce6c11;
}

.input-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 11px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  width: 600px;
}

.input-box input {
  flex: 1;
  margin: 12px;
  padding: 15px;
  border: 0;
  outline: 0;
}

.input-box button {
  outline: 0;
  border: 0;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  padding: 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 19px;
  border-radius: 20px;
}
